@using Web.Core.Dto;
@using Web.Core.Util;
@model List<ProductDto>
@{
    ViewBag.Title = "Danh sách sản phẩm";
}

<script>
    $("#menu_product").addClass("menu_active");
</script>

<link href="~/Areas/Administrator/Plugins/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/Areas/Administrator/Plugins/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Areas/Administrator/Plugins/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>
    $(function () {
        $('#table').DataTable({
            "order": [],
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>

<section class="content-header">
    <a href="/Administrator/Voucher/Add" class="btn btn-primary btn-sm">
        <i class="fa fa-plus"></i>
        Thêm mới
    </a>
</section>

<section class="content">
    <div class="box box-primary">
        <div class="box-body ">
            <div class="table-product">
                <table id="table" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Hình ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Danh mục</th>
                            <th>Giá niêm yết</th>
                            <th>Giá khuyễn mại</th>
                            <th>Tồn kho</th>
                            <th>Bán chạy</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    <img src="@item.Image" class="thumbnail" />
                                </td>
                                <td>@item.Name</td>
                                <td>@(item.Menu?.Name)</td>
                                <td class="text-right">@(DataHelper.ToCurrency(item.Price))</td>
                                <td class="text-right">@(DataHelper.ToCurrency(item.DiscountPrice))</td>
                                <td class="text-right">@item.Quantity</td>
                                <td class="text-center">@(item.Selling == true?"X":"")</td>
                                <td class="text-center">
                                    @if (item.Status == 10)
                                    {
                                        <label class="label label-primary">Đang bán</label>
                                    }
                                    else if (item.Status == 20)
                                    {
                                        <label class="label label-warning">Hết hàng</label>
                                    }
                                    else if (item.Status == 30)
                                    {
                                        <label class="label label-danger">Ngưng bán</label>
                                    }
                                </td>
                                <td style="white-space:nowrap">
                                    <a href="/Administrator/Product/Update?id=@item.Id" class="btn btn-success btn-xs">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="/Administrator/Product/ImportIndex?id=@item.Id" class="btn btn-success btn-xs">
                                        <i class="fa fa-cart-plus"></i>
                                    </a>
                                    <button onclick="confirmDelete(@item.Id)" class="btn btn-danger btn-xs">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script>
    function confirmDelete(id) {
        if (confirm("Xác nhận xóa")) {
            location.href = "/Administrator/Product/Delete?id=" + id;
        }
    }
</script>