@using Web.Core.Dto;
@model ProductDto
@{
    List<MenuDto> menus = (List<MenuDto>)ViewData["menus"];
    List<ProductAttributeDto> attributes = (List<ProductAttributeDto>)ViewData["attributes"];
    ViewBag.Title = "Thông tin Sản phẩm";
}

<script>
    $("#menu_product").addClass("menu_active");
</script>

<script src="~/Areas/Administrator/Plugins/ckfinder/ckfinder.js"></script>
<script src="~/Areas/Administrator/Plugins/ckeditor/ckeditor.js"></script>

<form id="formSubmit" action="/Administrator/Product/Update" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="Id" value="@Model.Id" />
    <section class="content">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <div style="margin-bottom:10px">
                            <label>Hình ảnh đại diện sản phẩm</label>
                            <img id="img" src="@Model.Image" class="thumbnail" />
                            <input id="inpImage" type="hidden" name="Image" value="@Model.Image" />
                            <button type="button" id="button-upload" class="btn btn-success btn-sm">Upload</button>
                        </div>
                        <div class="text-left">
                            <div style="margin-bottom:5px">
                                <button type="button" id="button-upload-more" class="btn btn-success btn-sm">Thêm ảnh</button>
                            </div>
                            <div id="box-product-gallery" class="row">
                                @for (int i = 0; i < Model.ProductImages.Count; i++)
                                {
                                    <div id="product_gallery_@i" class="col-md-6 text-center">
                                        <input id="product_gallery_@i" type="hidden" class="impHiddenImage" value="@Model.ProductImages[i].Image" />
                                        <img id="img" src="@Model.ProductImages[i].Image" class="thumbnail" />
                                        <div>
                                            <button onclick="deleteProductGallery('product_gallery_@i')" type="button" class="btn btn-danger btn-xs">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Danh mục sản phẩm <span class="required">(*)</span></label>
                                            <select name="MenuId" class="form-control input-sm" required>
                                                <option value="">N/A</option>
                                                @foreach (var item in menus)
                                                {
                                                    <option value="@item.Id" @(Model.MenuId == item.Id ? "selected" : "")>
                                                        @Html.Raw((item.ParentMenu != null ? "&emsp;_" : ""))
                                                        @item.Name
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Tên sản phẩm <span class="required">(*)</span></label>
                                            <input type="text" value="@Model.Name" name="Name" class="form-control input-sm" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Giá niêm yết <span class="required">(*)</span></label>
                                            <input type="number" value="@Model.Price" name="Price" min="0" class="form-control input-sm" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Giá khuyến mãi</label>
                                            <input type="number" value="@Model.DiscountPrice" name="DiscountPrice" min="0" class="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Thứ tự hiển thị</label>
                                            <input type="number" value="@Model.Index" name="Index" min="1" class="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Trạng thái</label>
                                            <select name="Status" class="form-control input-sm">
                                                <option value="10" @(Model.Status == 10 ? "selected" : "")>Đang bán</option>
                                                <option value="20" @(Model.Status == 20 ? "selected" : "")>Hết hàng</option>
                                                <option value="30" @(Model.Status == 30 ? "selected" : "")>Ngưng bán</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Sản phẩm bán chạy</label>
                                            <div>
                                                <input type="checkbox" name="Selling" value="true" @(Model.Selling == true ? "checked" : "") />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Thuộc tính sản phẩm <span class="required">(*)</span></label>
                                        <table class="table table-bordered">
                                            @for (int i = 0; i < attributes.Count; i++)
                                            {
                                                <tr>
                                                    <td>@attributes[i].Attribute.Name</td>
                                                    <td>
                                                        <input type="hidden" name="ProductAttributes[@i].AttributeId" value="@attributes[i].AttributeId" />
                                                        <input type="text" name="ProductAttributes[@i].ValueString" value="@attributes[i].ValueString" class="form-control input-sm" required />
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top:5px">
                                <div class="nav-tabs-custom">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab_1" data-toggle="tab">Mô tả ngắn</a></li>
                                        <li><a href="#tab_2" data-toggle="tab">Mô tả chi tiết mặt hàng</a></li>
                                        <li><a href="#tab_3" data-toggle="tab">Chế độ bảo hành</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_1">
                                            <div>
                                                <textarea id="ShortDescription" name="ShortDescription" class="form-control">@Model.ShortDescription</textarea>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_2">
                                            <div>
                                                <textarea id="Description" name="Description" class="form-control">@Model.Description</textarea>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_3">
                                            <div>
                                                <textarea id="UserDef1" name="UserDef1" class="form-control">@Model.UserDef1</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-bottom:20px">
                                <fieldset>
                                    <legend>SEO</legend>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>MetaDescription</label>
                                                <input type="text" name="MetaDescription" value="@Model.MetaDescription" class="form-control input-sm" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>MetaRobots</label>
                                                <input type="text" name="MetaRobots" value="@Model.MetaRobots" class="form-control input-sm" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>MetaRevisitAfter</label>
                                                <input type="text" name="MetaRevisitAfter" value="@Model.MetaRevisitAfter" class="form-control input-sm" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>MetaContentLanguage</label>
                                                <input type="text" name="MetaContentLanguage" value="@Model.MetaContentLanguage" class="form-control input-sm" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>MetaContentType</label>
                                                <input type="text" name="MetaContentType" value="@Model.MetaContentType" class="form-control input-sm" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div>Danh sách các bình luận dành cho sản phẩm này</div>
                    <form id="formSubmit" action="/Administrator/Product/Update" method="post">
                        <table id="table" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Người bình luận</th>
                                    <th>Nội dụng bình luận</th>
                                    <th>Số sao đánh giá</th>
                                    <th>Ngày bình luận</th>
                                    <th>Cho phép hiển thị</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Reviews)
                                {
                                    <tr data-review-id="@item.Id">
                                        <td>@item.CustomerName</td>
                                        <td>@item.Content</td>
                                        <td>@item.Star</td>
                                        <td>@item.Created</td>
                                        <td>
                                            <div>
                                                <input type="checkbox" class="active-checkbox" @(item.Active == 1 ? "checked" : "") />
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <button id="updateCommentBtn" type="button">
                            <i class="fa fa-save"></i>
                            Cập nhật danh sách bình luận
                        </button>
                        <div class="col-md-12 text-center">
                            <a href="/Administrator/Product" class="btn btn-default">
                                Trở lại danh sách
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-save"></i>
                                Lưu lại
                            </button>
                        </div>
                </div>
            </div>
        </div>
    </section>
</form>


<script>
    function deleteProductGallery(id) {
        if (confirm("Xác nhận xóa")) {
            $(`#${id}`).remove();
        }
    }

    $("#formSubmit").submit(function (event) {
        if ($(".impHiddenImage").length > 0) {
            for (let i = 0; i < $(".impHiddenImage").length; i++) {
                $($(".impHiddenImage")[i]).attr("name", `ProductImages[${i}].Image`)
            }
        }
    });

    $(document).ready(function () {
        $('#button-upload').click(function () {
            var finder = new CKFinder();
            finder.basePath = '../files';
            finder.selectActionFunction = setFileField;
            finder.popup();
        });
        function setFileField(fileUrl) {
            $('#inpImage').val(fileUrl);
            $("#img").attr("src", fileUrl)
        }

        $('#button-upload-more').click(function () {
            var finder = new CKFinder();
            finder.basePath = '../files';
            finder.selectActionFunction = setFileFieldMore;
            finder.popup();
        });

        function setFileFieldMore(fileUrl) {
            let key = new Date().getTime();
            $("#box-product-gallery").append(`
                <div id="product_gallery_${key}" class="col-md-6 text-center">
                    <input id="product_gallery_${key}" type="hidden" class="impHiddenImage" value="${fileUrl}" />
                    <img id="img" src="${fileUrl}" class="thumbnail" />
                    <div>
                        <button onclick="deleteProductGallery('product_gallery_${key}')" type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            `);
        }

        CKEDITOR.replace('ShortDescription')
        CKEDITOR.replace('Description')
        CKEDITOR.replace('UserDef1')
    })

</script>

<script>
    $(document).ready(function () {
        $("#updateCommentBtn").click(function () {
            // Create an array to store the modified data
            var updatedData = [];

            // Loop through each row
            $("tr[data-review-id]").each(function () {
                var row = $(this);
                var reviewId = row.data("review-id");
                var activeCheckbox = row.find(".active-checkbox");
                var isActive = activeCheckbox.prop("checked");

                // Add the data to the array
                updatedData.push({
                    Id: reviewId,
                    Active: isActive ? 1 : 0
                    // Add other properties as needed
                });
            });

            // Send the data to the server using AJAX
            $.ajax({
                type: "POST",
                url: "/Administrator/Product/UpdateComment", // Replace with the actual URL
                contentType: "application/json",
                data: JSON.stringify(updatedData),
                success: function (result) {
                    // Handle the success result if needed
                    console.log(result);
                },
                error: function (error) {
                    // Handle the error if needed
                    console.error(error);
                }
            });
        });
    });
</script>

